<li>
  <span class="content"><%= wrap(tweet.content) %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(tweet.created_at) %> ago.
  </span>
   <% if current_user?(tweet.user) %>
    <%= render 'shared/delete', :myvar => tweet   %>
  <% end %>
</li>